h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_555429bd { vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:102%; min-height:657px; background-color:#C2BD00; background: linear-gradient(to bottom, #008ED4, #C2BD00);  }
#container_555429bd_padding { margin: 10px; display: block;  }
#heading_46617e6a { position:absolute; left:39%; top:2%; background:none; font-size:24pt; font-family:'Arial Black', Gadget, sans-serif; color:#F57A00; text-align:center;  }
#button_567eab73 { border-radius: 9px; position:absolute; left:41%; top:14%; width:150px; height:40px; background-color:#114CAB; background: linear-gradient(to bottom, #701586, #114CAB);  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  }
#button_38b56572 { border-radius: 9px; position:absolute; left:41%; top:26%; width:150px; height:40px; background-color:#0AE7DF; background: linear-gradient(to bottom,#0AE7DF, #068A85 50%, #05736F 50%, #045C59);  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#button_2cec44a1 { box-sizing: border-box; border-radius: 9px; position:absolute; left:41%; top:38%; width:150px; height:40px; background-color:#5A4ABC; background: linear-gradient(to bottom,#5A4ABC, #282154 50%, #1F1941 50%, #16122F); border: 2px solid #2F2759;  }
#button_69563e92 { box-sizing: border-box; border-radius: 9px; position:absolute; left:41%; top:50%; width:150px; height:40px; background-color:#114CAB; background: linear-gradient(to bottom,#114CAB, #07224C 50%, #051A3B 50%, #04132A); border: 2px solid #092850;  }
